<%= form_for @user do |f| %>
  <p><div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div></p>
  <p><div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div></p>
  <p><div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div></p>
  <p><div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div></p>

  <%= f.submit %>
<% end %>
