<h1><%= @user.first_name + " " + @user.last_name %></h1>
<h2>About Me</h2>
<p><%= "Hallo, my name is " + @user.first_name + "!" %></p>
<p><%= "You can reach me at " + @user.phone + " or " + @user.email + "." %></p>
<%= link_to "Edit", edit_user_path %></br>
<%= link_to "Home", users_path %>
